<%- include('./partials/header'); -%>
<br>
	<br>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex">
        <div
          class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end"
          style="background-image:url(images/ISTELOG.png); background-size: contain;">
        </div>
      </div>
      <div class="col-md-6 pl-md-5 py-md-5">
        <div class="row justify-content-start pt-3 pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <span class="subheading">Welcome to Technical Prophet</span>
            <h2 class="mb-4">Indian Society of Technical Education.</h2>
            <p>Technical Prophet is a brainchild of potterhead and geek, Dhiman Chatterjee. Started in May 2019, the
              blog promotes critical thinking ability, linguistic development of members of ISTE and all things
              technical.</p>
              <p>
              The Indian Society for Technical Education
              is a national, professional, non-profit Society. It has active membership of more than 97286 technical
              teachers, 5,66,466 student members, more than 2345 institutional members (including IITs, IISc.., NITs
              and other leading technical institutions), 1166 faculty chapters and 1280 students’ chapters throughout
              the country. The major objective of the ISTE is to assist and contribute in the production and
              development of top quality professional engineers and technicians needed by the industries and other
              organisations. Being the only national organisation of educators in the field of Engineering and
              Technology, ISTE effectively contributes in various missions of the Union Government. The Ministry of
              Human Resource Development, CTE/Department of Science and Technology/MIT/State Govts. are well
              associated with the ISTE for programmes relating to technical education.
            </p>
            <div class="tabulation-2 mt-4">
              <ul class="nav nav-pills nav-fill d-md-flex d-block">
                <li class="nav-item mb-md-0 mb-2">
                  <a class="nav-link active py-2" data-toggle="tab" href="#home1">Our Impact</a>
                </li>
                <li class="nav-item px-lg-2 mb-md-0 mb-2">
                  <a class="nav-link py-2" data-toggle="tab" href="#home2">Our Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">Our Mission</a>
                </li>
              </ul>
              <div class="tab-content bg-light rounded mt-2">
                <div class="tab-pane container p-0 active" id="home1">
                  <p>ISTE Manipal is a student chapter under Indian Society For Technical Education. This multidomain
                    club organises workshops and events for tech aficionados.ISTE organizes various events throughout an
                    academic year. The workshops and events organized by the club prove very usefull for the students of
                    MIT and they get to learn a lot. A common feedback received by the club is that they organize very
                    informative workshops and interesting events.</p>
                </div>
                <div class="tab-pane container p-0 fade" id="home2">
                  <p>ISTE organizes various workshops such as Intro to GIT, Python: basic to advance, OpenCV and much
                    more. Apart from workshops ISTE has its own Tech Week.This is club’s flagship event of even
                    semester. The TechWeek brings in all the different domains of engineering into a series of events.
                    TechWeek has many events like “Watt Up”, “ExQUIZite”, “Clueless”, “Unlockathon” and “Clash of
                    Codes”. The TechWeek had a participation of over 1200 people including both Online and Offline
                    event.</p>
                </div>
                <div class="tab-pane container p-0 fade" id="home3">
                  <p>ISTE mission is to promote technical growth among students of India.ISTE also has a lot to offer
                    even if you're not in the campus.In summer and winter breaks ISTE
                    organizes summer and winter school which is a crash course of latest technologies taught by none
                    other than your own seniors. If all that was not enough then guess what ISTE is the only club to
                    organize on-demand workshops.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row justify-content-center mb-5">
  <div class="col-lg-4 text-center heading-section ftco-animate">
    <h2 class="h2_header">Editor</h2>
    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="images/anupriya.png">
      </div>
      <div class="team-content">
        <h3 class="name">Anupriya Singpuri</h3>
        <h4 class="title">Content Head</h4>
        <p>Apart from being a tech enthusiast and an avid reader, I am a proponent of all things of
          a linguistic nature. Literature, programming, archaeology, genetics, you name it! </p>
      </div>
      <ul class="social">
        <li><a class="fa fa-linkedin"></a></li>
      </ul>
    </div>
    <h2 class="h2_header my-5">Developers</h2>
  </div>
  <br>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team custom-height">
        <div class="picture">
          <img class="img-fluid" src="images/shubham.jpg">
        </div>
        <div class="team-content">
          <a href="https://www.linkedin.com/in/shubham-pathak-7093a11b9/"><h3 class="name">Shubham Pathak</h3></a> 
          <h4 class="title">Web Developer</h4>
          <p>My main interest includes web development and app developement. I am always curious about new
            technologies. Being the head of web dev at ISTE, Manipal, I am responsible for the
            development and maintaince of the websites.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
      <div class="our-team custom-height">
        <div class="picture">
          <img class="img-fluid" src="images/akhil.jpg">
        </div>
        <div class="team-content">
          <a href="https://www.linkedin.com/in/akhil-kala-b185131b0/"><h3 class="name">Akhil Kala</h3></a>
          <h4 class="title">Web Developer</h4>
          <p>To build eye-catching user experiences is my goal. From making the UI in the front-end to
            coding the back-end for it, I enjoy it all.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team custom-height">
        <div class="picture">
          <img class="img-fluid" src="images/Insha-1.jpeg">
        </div>
        <div class="team-content">
          <a href="https://www.linkedin.com/in/insha-manowar-82a3101ab/"><h3 class="name">Insha Manowar</h3></a>
          <h4 class="title">Web Developer</h4>
          <p>I aim to create an optimal website that is intuitive, seamless, simple at the same time.
            Every new project thrills me due to the potential of being able to create and learn
            something new each time! </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team custom-height">
        <div class="picture">
          <img class="img-fluid" src="images/varshil.jpg">
        </div>
        <div class="team-content">
          <a href="https://www.linkedin.com/in/varshil-shah-a5ab161a4/"><h3 class="name">Varshil Shah</h3></a>
          <h4 class="title">Web Developer</h4>
          <p>
            I am dedicated towards perfecting my craft by learning from more seasoned developers,
            remaining humble, and continuously making strides to learn all that I can about development.
          </p>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
<h1 class="text-center my-5">Authors</h1>

<div class="row">
  <br>

  <% for(var i=0; i< authors.length; i++)  { %>
    <div class="col-lg-3">
      <ul>
        <strong><li class="auth"> <%= authors[i].author %></li></strong>
      </ul>
    </div>
  <% } %>
  
 
 
</div>
</div>


<%- include('./partials/footer'); -%>