<%- include('./partials/header'); -%>

  <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6 d-flex">
          <div
            class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end"
            style="background-image:url(images/ISTELOG.png); background-size: contain;">
          </div>
        </div>
        <div class="col-md-6 pl-md-5 py-md-5">
          <div class="row justify-content-start pt-3 pb-3">
            <div class="col-md-12 heading-section ftco-animate">
              <span class="subheading">Welcome to The Technical Prophet</span>
              <h2 class="mb-4">Indian Society of Technical Education.</h2>
              <p>The Technical Prophet is the official blog of ISTE Maniapl.The Indian Society for Technical Education
                is a national, professional, non-profit Society. It has active membership of more than 97286 technical
                teachers, 5,66,466 student members, more than 2345 institutional members (including IITs, IISc.., NITs
                and other leading technical institutions), 1166 faculty chapters and 1280 students’ chapters throughout
                the country. The major objective of the ISTE is to assist and contribute in the production and
                development of top quality professional engineers and technicians needed by the industries and other
                organisations. Being the only national organisation of educators in the field of Engineering and
                Technology, ISTE effectively contributes in various missions of the Union Government. The Ministry of
                Human Resource Development, CTE/Department of Science and Technology/MIT/State Govts. are well
                associated with the ISTE for programmes relating to technical education.
              </p>
              <div class="tabulation-2 mt-4">
                <ul class="nav nav-pills nav-fill d-md-flex d-block">
                  <li class="nav-item mb-md-0 mb-2">
                    <a class="nav-link active py-2" data-toggle="tab" href="#home1">Our Mission</a>
                  </li>
                  <li class="nav-item px-lg-2 mb-md-0 mb-2">
                    <a class="nav-link py-2" data-toggle="tab" href="#home2">Our Vision</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">Our Value</a>
                  </li>
                </ul>
                <div class="tab-content bg-light rounded mt-2">
                  <div class="tab-pane container p-0 active" id="home1">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                      live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                      large language ocean.</p>
                  </div>
                  <div class="tab-pane container p-0 fade" id="home2">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                      live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                      large language ocean.</p>
                  </div>
                  <div class="tab-pane container p-0 fade" id="home3">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                      live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                      large language ocean.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section testimony-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Editors</span>
          <h2 class="mb-4">Team Members</h2>
        </div>
      </div>
      <div class="row ftco-animate">
        <div class="col-md-12">
          <div class="carousel-testimony owl-carousel ftco-owl">
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(images/shubham.jpg)"></div>
                    <div class="pl-3">
                      <p class="name">SHUBHAM PATHAK</p>
                      <span class="position">WEB DEV AND PROJECT HEAD</span>
                    </div>
                  </div>
                  <p class="mb-4">Web dev and app dev are my main interests and I'm always curious about new technologies. Responsible for development and maintenance of the website. Web dev head at ISTE Manipal.</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(images/anupriya.png)"></div>
                    <div class="pl-3">
                      <p class="name">ANUPRIYA</p>
                      <span class="position">CONTENT HEAD</span>
                    </div>
                  </div>
                  <p class="mb-4">Apart from being a tech enthusiast and an avid reader, I am a proponent of all things of a linguistic nature. Literature, programming, archaeology, genetics, you name it!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- include('./partials/footer'); -%>